* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.body {
  background: #9dbef5;
  color: #1f1f1f;
  font-family: "Press Start 2p", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.body,
.wrapper {
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  z-index: 2;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  margin: 1rem auto;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay {
  background: rgba(31, 31, 31, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.overlay h1, .overlay h2 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.overlay .play {
  margin-bottom: 0.5rem;
}

.button {
  background: #1f1f1f;
  border-radius: 4px;
  color: #9dbef5;
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.825rem;
  padding: 1rem 1.25rem;
  width: 100%;
}
.button:focus {
  outline: none;
}

.outline {
  background: #9dbef5;
  border: 3px solid #1f1f1f;
  color: #1f1f1f;
}

.switch {
  width: 40%;
  line-height: 1.5rem;
  padding: 0.5rem;
}

.overlay-modal,
.inst-modal,
.game-over-modal {
  background: #9dbef5;
  border: 5px solid #1f1f1f;
  box-shadow: 0 4px 8px rgba(31, 31, 31, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  width: 95%;
}

.overlay-modal .reminder {
  font-size: 0.5rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1rem;
}

.inst-modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.inst-modal h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.inst-modal ul {
  list-style: none;
}
.inst-modal li {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.inst-modal .controls {
  font-size: 0.8125rem;
  margin-bottom: 1rem;
}
.inst-modal .reminder.info {
  margin-top: 0;
}
.inst-modal .reminder {
  font-size: 0.5rem;
  line-height: 1rem;
  letter-spacing: 0.4px;
  margin: 1.25rem auto;
  text-align: center;
}
.inst-modal .btn-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.game-over-modal .button {
  width: 60%;
}
.game-over-modal .reminder {
  font-size: 0.75rem;
  margin-bottom: 2rem;
  text-align: center;
}
.game-over-modal .yes {
  margin-bottom: 0.5rem;
}

.display-none {
  display: none;
}

.game-board {
  border: 5px solid #1f1f1f;
  width: 90vmin;
  height: 90vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.scores-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  margin: 2rem 0;
  width: 90vmin;
}
.scores-container .score-container {
  margin-bottom: 1rem;
}

.mobile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90vmin;
  margin: 0 auto;
}

.mobile-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
  width: 50%;
  height: auto;
}
.mobile-controls .row {
  display: flex;
  align-items: center;
  font-size: 3rem;
  width: 100%;
}
.mobile-controls .row:first-child, .mobile-controls .row:last-child {
  justify-content: center;
}
.mobile-controls .row:nth-child(2) {
  justify-content: space-around;
  margin: 0.5rem 0;
}

.arrow-left,
.arrow-right,
.arrow-up,
.arrow-down {
  background: none;
  border: none;
  color: #1f1f1f;
  cursor: pointer;
  width: 2.75rem;
  height: 2.75rem;
}
.arrow-left i,
.arrow-right i,
.arrow-up i,
.arrow-down i {
  font-size: 2.75rem;
}
.arrow-left:focus,
.arrow-right:focus,
.arrow-up:focus,
.arrow-down:focus {
  outline: none;
}

.row-reverse {
  flex-direction: row-reverse;
}

.snake {
  background: #1f1f1f;
  border: 0.25vmin solid #9dbef5;
}

.food {
  background: #9dbef5;
  border: 2px solid #1f1f1f;
  margin: 0.25vmin;
  transform: rotate(45deg) scale(0.7);
}

.modal.fixed {
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 375px) {
  .container {
    justify-content: flex-start;
  }

  .arrow-left,
.arrow-right,
.arrow-up,
.arrow-down {
    width: 3rem;
    height: 3rem;
  }
  .arrow-left i,
.arrow-right i,
.arrow-up i,
.arrow-down i {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 1rem;
  }

  .scores-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .scores-container .score-container {
    margin-bottom: 0;
  }

  .overlay-modal,
.game-over-modal,
.inst-modal {
    width: 50%;
  }
  .overlay-modal button,
.game-over-modal button,
.inst-modal button {
    padding: 0.75rem 1rem;
    width: 60%;
  }

  .inst-modal li {
    font-size: 0.8125rem;
  }
  .inst-modal .controls {
    font-size: 1rem;
  }
  .inst-modal .reminder {
    font-size: 0.6875rem;
    line-height: 1.25rem;
  }

  .mobile-controls {
    width: 30%;
  }

  .arrow-left,
.arrow-right,
.arrow-up,
.arrow-down {
    width: 3.25rem;
    height: 3.25rem;
  }
  .arrow-left i,
.arrow-right i,
.arrow-up i,
.arrow-down i {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .overlay-modal,
.game-over-modal,
.inst-modal {
    width: 32rem;
  }

  .mobile-container {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
